<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Horas de Sueño</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Registrar Horas de Sueño</h1>
    <form method="post">
        <input type="number" name="horas_sueno" placeholder="Número de horas de sueño">
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
